.activities{text-decoration: underline; font-weight: bolder; font-size: 32px; font-family: serif;
    text-decoration-color:dimgrey; margin-left: 20px; min-width: 1024px;}
    .head{font-size: 40px; text-align: center; margin-left: 50px;}
    .margin{ 
        margin-top: 5px; font-size: 24px; }
        p{font-size: 26px;   }
        h1+ul{font-size: 24px;   }
        .tab{ border-style: double; font-size: larger;   
            width: 100px; font-weight: bolder; font-family: serif; border-width: thick; margin-left: 20px;}
        .box{border-width: thick; border-color: black; }
        body{background-color: azure; background-image: url(./images/pexels-ovan-62693.jpg); 
            background-repeat: no-repeat; border-width: thick; min-width: 984px; max-width: 1440px; 
        border-color: blue; border-style: double; min-height: 500px;
        color: crimson;   }
        .img{float: right; display: inline-block; margin-top: 0px; margin-right: 50px; margin-bottom: 90px;
              border-image-width: thick; border-radius: 70px;   
          }
         h1{
          background: linear-gradient(90deg, #000, #fff, #000);
          letter-spacing: 5px;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-repeat: repeat;
          background-size: 80%;
          animation: shine 8s linear infinite;
          position: relative;
          color: crimson;
          font-size: 40px;
          font-weight: bolder;
        }
     
        
          @keyframes shine {
            0% {
              background-position-x: -500%;
            }
            100% {
              background-position-x: 500%;
            }
          }
        